@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
  --color-primary: #C41E3A;
  --color-primary-content: #ffffff;
  --color-secondary: #8B0000;
  --color-accent: #D4AF37;
}